@CHARSET "ISO-8859-1";

body {
	background: white;
}

#outerWrapper {
	margin: 0 auto;
	width: 955px;
	height: 870px;
	background: #9966FF;
	border: 10px solid #9966FF;
}

#wrapper {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 935px;
	height: 845px;
	border: 0px solid white; border-radius : 6px;
	background: white;
	border-radius: 6px;
}

#header {
	background: #99CCFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	padding: 2px;
	text-align: center;
}

#siteTitle {
	font-size: 24px;
	font-weight: bold;
}

#siteSlogan {
	font-size: 15px;
	font-weight: normal;
}

#nav {
	background: #CCCCFF;
	padding: 3px;
	text-align: left;
}

#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#nav ul li {
	display: inline;
	margin-left: 10px;
}

#nav ul li a {
	color: white;
	text-decoration: none;
}

#nav ul li a:HOVER {
	border: 1px solid black;
	background: #9999FF;
}

#container {
	background: white;
	margin: 10px;
	width: 910px;
}

.leftAndRigntMostOuterContainers {
	background: white;
	margin-left: 5px; width : 217.5px;
	float: left;
	width: 217.5px;
}

#middleContainer {
	background: white;
	margin-left: 30px;
	width: 420px;
	float: left;
}

.leftAndRightMostInnerContainers {
	margin: 10px;
	background: white;
	width: 217.5px;
	border: 1px solid gray;
	border-radius: 6px;
	background: inactiveborder;
}

.head {
	background: #FFCCFF;
	border: 1px solid gray;
	border-radius: 6px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 2px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

.contentHeader {
	background: inactiveborder;
	border: 1px solid gray;
	border-radius: 6px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 2px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

#firstLeftInnerContainerNav {
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 2px;
	text-align: left;
	width: 207.5px;
}

#firstLeftInnerContainerNav ul {
	width: 207.5px;
	margin: 0px;
	list-style: none;
}

#firstLeftInnerContainerNav ul li {
	margin: 0px;
}

#firstLeftInnerContainerNav ul li a {
	color: black;
	text-decoration: none;
}

#firstLeftInnerContainerNav ul li a:HOVER {
	width: 207.5px;
	background: #FFCCFF;
	border: 1px solid silver;
	border-radius: 6px;
}

.secondLeftAndRightInnerContainerNav {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

#middleNewPage {
	background: white;
	margin-top: 3px;
	padding: 2px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	width: 445px;
}

#middleNewPageStart {
	background: white;
	margin-top: 3px;
	padding: 2px;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	width: 445px;
}

#middleImageContainer {
	margin-top: 2px;
	width: 445px;
	float: left;
}

#htmlImage2 {
	width: 445px;
	height: 375px;
}

#middlecontentContainer {
	width: 445px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	padding: 2px;
	text-align: left;
}

#search {
	width: 211.5px;
}

#footer {
	background: #FFCCCC;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 929px;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	padding: 3px;
	float: left;
	text-align: center;
}

#footer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#footer ul li {
	display: inline;
	margin-left: 10px;
}

#footer ul li a {
	color: white;
	text-decoration: underline;
}

#footer ul li a:HOVER {
	color: white;
}