<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CreateCarController</servlet-name>
    <servlet-class>com.cardekho.controller.CreateCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCarController</servlet-name>
    <url-pattern>/CreateCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cardekho.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearchController</servlet-name>
    <servlet-class>com.cardekho.controller.UserSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchController</servlet-name>
    <url-pattern>/UserSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchController</servlet-name>
    <servlet-class>com.cardekho.controller.AdminSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchController</servlet-name>
    <url-pattern>/AdminSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearchResultController</servlet-name>
    <servlet-class>com.cardekho.controller.UserSearchResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchResultController</servlet-name>
    <url-pattern>/UserSearchResultController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditController</servlet-name>
    <servlet-class>com.cardekho.controller.AdminEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditController</servlet-name>
    <url-pattern>/AdminEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>com.cardekho.controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.cardekho.authentication.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/LoginController</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>view/vehicleHomePage.html</welcome-file>
  </welcome-file-list>
</web-app>