@CHARSET "ISO-8859-1";

.wrapper {
	width: 1000px;
	height: 1000px;
	background-color: #F0F0F0;
	margin: 0px auto;
	border: 1px solid black;
}

header {
	color: #0c77ab;
	background-color: #E7E7E7;
	width: 1000px;
	height: 100px;
	text-align: center;
	font-size: 40px;
}

header h3 {
	padding: 35px;
	text-align: center;
}

footer {
	height: 50px;
	background-color: #E7E7E7;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 430px;
	padding-top: 10px;
}

nav {
	padding: 20px;
	text-align: center;
}

form {
	width: 500px;
	height: 300px;
	margin-top: 100px;
	margin-left: 300px;
	border: 1px solid black;
}

.left {
	position: absolute;
	margin-left: 50px;
}

.input {
	position: absolute;
	margin-left: 250px;
}

.button {
	width: 100px;
	height: 30px;
	margin-left: 200px;
	font-weight: bold;
}

.button:HOVER {
	background-color: orange;
}