body {
    background:#E5E1D6;
}
#wrapper {
    margin:0 auto;
	width:800px;
	background:#FFF;
	height:600px;
 }
 
#header {
    background:LightCyan;
    height:60px;
    padding-top:40px;
	padding-left:15px;
    font-size:24px;
    color:SlateBlue;
	border:1px solid SlateBlue;
}
#leftNav {
	width:180px;
	height:180px;
	float:left;
	background:black;
	margin:10 10px;
	border:2px solid white;
	outline: solid 2px #D8D8D8;
	
}
#container {
	background:#FFF;
	margin:5px;
	height:400px;
}
#inner {
   width:500px;
   position:relative;
   left:10px;
   float:left;
}
#inner ul {
      margin:0px;
      list-style:none;
}
#watermark{
	 position:absolute;
    z-index:0;
    background:white;
    
    min-height:50%; 
    min-width:50%;
  color:yellow;
}
#background{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
  color:yellow;
}
#bg-text
{
	opacity: 0.8;
    color:lightgrey;
    font-size:90px;
    transform:rotate(320deg);
    -webkit-transform:rotate(300deg);
   
  
  top:-200px;
  margin-top:360px;
   position: absolute;
}
	
}