body{
	width:100%;
	height:100%;
}
#header{
	width:100%;
	height:3%;
	border:3px solid black;
	background-color:white;
}
div.car{
    width: 100%;
    height: 100px;
    background-image:url(logo1.jpg);
	background-size:90px;
	animation: animatedBackground 20s linear infinite;
	background-repeat:no-repeat;
    -webkit-transition: 5s ease-in-out;
 }
 @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}   

h1,h2,h3,h4,h5,h6{
	margin-left:10px;
	margin-top:5px;
}
#head{
	width:100%;
	height:50px;
	background-color:#DCCCCC;
	border:3px solid black;
}
ul  li{
	width:3%;
	height:20px;
	display:inline;
	border:1px solid black;
	margin:0px 10px;
	padding:1%;
	background-color:#D8D8D8;
	text-align:center;
}
ul li :HOVER{
	border:1px solid black;
	padding:1%;
	background-color:white;
	-webkit-transform: scale(1,10);
}
article{
	height:70%px;
	border: 5px solid black;
}
aside{
	width:70%;
	height:1650px;
	margin-top:2%;
	margin-left:15%;
	padding:3%;
	background-color:white;
	border:1px solid black;
	font-size:18px;
}
.container {
	margin-left:30%;
	margin-top:5%;
	width: 40%;
	background-color: #ADD8E6;	
}
.header {
	background-color:#B0C4DE;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	font-style: italic;
}
.content {
	width: 60%;
	height: 70%
	background-color:#D3D3D3;
	padding-left: 14%;
	font-size: large;
	font-weight: bold;
}
#maincontainer{
	width:95%;
	height:80%;
	margin:10px;
	border:0px solid black;
}
#searchBox{
	width:30%;
	height:400px;
	border:1px solid black;
	margin:2px;
	float:left;
}
#slider{
	width:69%;
	height:400px;
	margin-left:15px;
	margin-top:10px;
	border:0px solid black;
	position:absolute;
	left:30%;
	-webkit-animation:changeimage 20s infinite;
}
#login{
	width:20%;
	height:400px;
	border:1px solid black;
	margin:2px;
	position:absolute;
	top:35%;
	left:75%;
	
}
label{
	width:20%;
	font-style:bold;
	margin:20px;
}
#userid{
	width:50%;
	margin:27px;
	background-color:#D8D8D8;
	
}
input{
		width:20%;
	margin:27px;
	background-color:#D8D8D8;
	
	
}
#password{
	width:50%;
	margin:1px 10px 3px 10px;
	background-color:#D8D8D8;
	
}
#tableHolder{
	width:95%;
	height:800px;
	margin:15px;
	border:1px solid black;
}
#table  {
	border:0px solid black;
	width:100%;
	height:90%;
	border-spacing: 3px;
}
#table tr{
	border:1px solid black;
	width:100%;
	
}
#table td{
	border:1px solid black;
	width:10%;
}
@-webkit-keyframes changeimage
        {
            0%   {background-image: url("img1.jpg");background-repeat:no-repeat;background-size:62% 96%;}
            33%   {background-image: url("img2.jpg");background-repeat:no-repeat;background-size:60% 95%;}
            66%   {background-image: url("img3.jpg");background-repeat:no-repeat;background-size:62% 96%;}
            100%   {background-image: url("img4.jpg");background-repeat:no-repeat;background-size:60% 95%;}
        }

#dropDown{
	width:50%;
	height:10%;
	margin-left:15%;
	margin-bottom:5%;
	margin-toP:5%;
	background-color:#D8D8D8;
}
#button{
	width:50%;
	margin-left:20%;
	margin-bottom:5%;
	margin-toP:5%;
	background-color:#DCCCCC;
	color:black;
	font-size:15px
}
#edit{
}

#sidebar{
	width:30%;
    height:1750px;
	margin-left:78%;
	margin-top:0px;
	float:right;
	border:2px solid black;
}
footer{
	width:100%;
	height:10%;
}