@CHARSET "ISO-8859-1";
body{
	background-color: #e1e3e2;
}
h2{
	margin-left:40%;
}
#login{
	background-color: #e9e4e8;
	border:2px solid black;
	width:40%;
	height:40%;
	position: absolute;
	left:30%;
}
#lable{
	font-family: Verdana,Arial, Helvetica, sans-serif;
	margin-left: 5%;
	margin-top: :5%
}
#login input[type=text]{
	background-color: white;
	margin-left: 20%;
	margin-top: 5%;
	
	
}