
<div class="row">
			<ul>
			    <li ng-repeat="customer in customers | filter:query | orderBy:orderProp"><br><br>
			    	<div id="main" class="row">
			    	<div class="row" id="heading" style="margin-left:0px; margin-right:0px;">
				    	<div class="col-lg-10">{{ customer.firstName }} {{ customer.lastName }}</div>
				    	<div class="text-right col-lg-2">
				    		<a ng-click="deletecustomer()"><span class="glyphicon glyphicon-remove"></span></a>
				    	</div>
				    	</div>
						<div id="mid">
							<div id="img"><img ng-src="{{customer.imageUrl}}"></div>
							<div id="add"> {{ customer.address }}<br><span>{{ customer.orders }}0 Orders</span></div>
						</div><br>
						
			    	</div>
			    </li>
			  </ul>
		</div>