@CHARSET "ISO-8859-1";
body{
	
	
}
.container {
	border: 2px solid black;
	margin: 3% 30% ;
				background-color: #BDB76B;
	
}
table {
	margin: 10% auto ;
		background-color: #BDB76B;
	font-size : 20px;
	text-align : right;
}