<!DOCTYPE html>
<html>
<head>
<link rel="styleSheet" href="/CaseStudy4/css files/style1.css">
<title>Car Dekho</title>
</head>
<body>
	<div class="wrapper">

		<header>
			<img src="/CaseStudy4/images/logo.png" alt="car dekho logo" width="400px" height="100px" align="left">		
		</header>

		<aside>
			<ul>
				<li><a href="/CaseStudy4/UserSearchController">USER</a></li>
				<li><a href="/CaseStudy4/LoginController">ADMIN</a></li>
			</ul>
		</aside>
		
		<section>
		 <img alt="car" src="/CaseStudy4/images/car.jpg" width="550px" height="400px">
		</section>
		
		<footer><label>Copyright &copy 2015.&nbsp; All rights reserved.</label></footer>

	</div>
</body>