@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	background-color: #e5ecff;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	background-color: rgba(36, 129, 173, 1);;
}

#logo {
	margin: 0 0 0 20px;
	padding: 0;
	width: 25%;
	float: left;
	font-weight: bold;
	color: WHITE;
}

nav {
	margin: 10px 0 0 0;
	padding: 0;
	width: 60%;
	float: left;
	color: WHITE;
}

nav ul {
	margin: 0 20px 0 0;
	padding: 0;
	float: right;
}

nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}

nav ul li a {
	margin: 0 5px 0 5px;
	padding: 15px 10px 10px 10px;
	float: left;
	display: block;
	height: 100%;
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: white;
	text-decoration: none;
}

nav ul li a:HOVER {
	border-radius: 5px;
	box-shadow: 0 0 10px #67C57D;
	background-color: rgba(17, 220, 245, 1);
}

#content {
	width: 80%;
	margin: 2% 0 0 0;
	padding: 0 10% 0 10%;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 130%;
}

#description p {
	margin: 0;
	padding: 0 3% 0 0;
	width: 50%;
	float: left;
	border-right: 2px solid BLACK;
}

#image {
	float: left;
	margin: 0 0 0 3%;
	padding: 0;
	width: 30%;
}

img {
	max-width: 100%;
}

#content a {
	margin: 0 5px 0 5px;
	padding: 5px;
	display: block;
	width: 150px;
	font-weight: bold;
	text-align: center;
	color: #057FC1;
	text-decoration: none;
}

#content a:HOVER {
	border-radius: 5px;
	box-shadow: 0 0 10px GRAY;
	background-color: #94CDEC;
}
footer {
	margin: 2% 0 0 0;
	padding: 2% 3% 2% 7%;
	width: 90%;
	float: left;
	position:absolute;
	bottom: 0;
	color: rgb(57, 178, 251);
	line-height: 150%;
	font-weight: bold;
	background-color: rgba(79, 79, 79, 0.5);
}

footer a {
	text-decoration: none;
	color: white;
}

.footer_part {
	margin: 0;
	padding: 0;
	width: 30%;
	float: left;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	margin: 0 0 0 10%;
	padding: 0;
	list-style: none;
	position: relative;
}
#content_wrapper {
	margin: 5% 0 0 0;
	padding: 0;
	width: 100%;
	float: left;
}

#specs {
	margin: 0 0 0 5%;
	padding: 0;
	width: 35%;
	float: left;
	font-weight: bold;
}

#car_image {
	margin: 0 5% 0 0;
	padding: 0;
	width: 55%;
	float: right;
}

#car_image img {
	max-width: 100%;
}