*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
form.register{
    width:800px;
    margin: 20px auto 0px auto;
    height:530px;
    background-color:#fff;
    padding:5px;
}
form p{
    font-size: 8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}

form.register fieldset.row2
{
    border:1px solid #F5F5F5;
    padding:5px;
    float:left;
	width:770px;
}

form.register legend
{
    color: #c2dd25;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register textarea{
	 float:left;
	 border: 1px solid #E1E1E1;
}

form.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;
}
form.register input[type=number]{
	 border: 1px solid #E1E1E1;
}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}


.button
{
    padding: 8px 10px 8px;
    color: black;
    text-decoration: none;
	background-color: grey;
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-left:300px;
}

p.agreement{
    margin-left:10px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
	margin-left:5px;
}
span
{
	color: red;
}
input:focus, select:focus,textarea:focus{
    background-color: #efffe0;
}
