body {
	background-image:url("background.jpg");
}

#wrapper {
	margin:0 auto;
	width:97%;
	height:130%;
	background:#FFFFFF;
}

#header {
	background:#9CC3F2;
	height:120px;
	text-align:center;
	font-size:22px;
	font-weight:bold;
}

#nav {
	background:#9BBBB7;
	height:40px;
	text-align:left;
	font-size:20px;
	padding-top:10px;
}

#nav ul {
	list-style:none;
	display:inline;
}

#nav li {
	display:inline;
}

#nav ul li:hover {
	background-color:#8EABA8;
}

#left_panel {
	background:#FFFFFF;
	margin:10px;
	width:20%;
	text-align:left;
	font-size:20px;
	float:left;
}

#left_panel ul {
	list-style:none;
	display:inline;
}

#left_panel ul li {
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
}

#left_top {
	border:2px solid #E7E7E7;
	margin:5px;
}

#left_bottom {
	border:2px solid #E7E7E7;
	margin:5px;
}


#left_panel ul li:hover {
	background-color:#B0CCE4;
}

.vMenu {
	font-weight:bold;
	font-size:25px;
	background:#cce6fc;
	text-align:left;
	height:35px;
}

.newBlock {
	font-weight:bold;
	font-size:25px;
	background:#cce6fc;
	text-align:left;
	height:35px;
}

#mid_panel {
	background:#FFFFFF;
	margin:10px;
	border:2px solid #E7E7E7;
	height:60%;
	width:50%;
	text-align:left;
	padding:5px;
	float:left;
}

#imageBox {
	width:480px;
	height:365px;
	background-color:#FFFFFF;
	margin-left:80px;
	border:2px solid #000000;
	padding:5px;
}

#imageBox img {
	max-width:100%;
	max-height:100%;
}

#right_panel {
	background:#FFFFFF;
	margin:10px;
	width:20%;
	text-align:left;
	font-size:20px;
	float:left;
}

#right_top {
	border:2px solid #E7E7E7;
	margin:5px;
}

#right_mid {
	border:2px solid #E7E7E7;
	margin:5px;
}

#right_bottom {
	border:2px solid #E7E7E7;
	margin:5px;
}

#right_panel ul {
	list-style:none;
	display:inline;
}

#right_panel ul li {
	padding-left : 25px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#right_panel ul li:hover {
	background-color:#B0CCE4;
}

.search {
	font-weight:bold;
	font-size:25px;
	background:#cce6fc;
	text-align:left;
	height:35px;
}

.categories {
	font-weight:bold;
	font-size:25px;
	background:#cce6fc;
	text-align:left;
	height:35px;
}

.archives {
	font-weight:bold;
	font-size:25px;
	background:#cce6fc;
	text-align:left;
	height:35px;
}

#footer {
	background-color:#C5B5B5;
	width:100%;
	height:120px;
	font-size:25px;
	text-align:center;
	padding-top:40px;
	margin-top:800px;
}
 
#footer ul {
	list-style-type : none;
	margin:0;
	padding:0px;
}

#footer ul li {
	display : inline;
	width : 300px;
	padding-left : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#footer ul li a{
	text-decoration : none;
}

#footer ul li:hover {
	background-color:#B0CCE4;
}







