#table1 
{
    margin:5px;	
}
#image {
	width:200px;
	height:200px;
}
#header {
    background-color:black;
    color:white;
    padding:5px;
}
#nav {
    background-color:#D7D2D2;
    width:205px;
    float:left;
    padding:5px;	      
}
#section {
  
    width:350px;
    float:left;
    padding:10px;
	margin-bottom:90px;
}

 td.std {
	
	padding-left:20px;
}
  
 #wrapper {
    margin: 0 auto;
    border:solid;
	width:1000px;
    background-color:#D7D2D2; 
    
  } 
  
#footer {
    margin-top:100px;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
	margin-bottom:0px;
    padding:5px;
     
}