@CHARSET "ISO-8859-1";
body {
    background-color: #E1E2E3;
}
header {
    background-image: url("../images/head.jpg");
    height: 120px;
    background-size: 100%;
}
nav {
    height: 40px;
}
nav ul {
    margin-top: 3px;
    displiay:inline;
}
nav ul li {
    display: inline;
    float: right;
    margin-left: 20px;
    margin-right: 15px;
    border: 0px solid;
    padding: 6px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Courier New";
    font-size: 19px;
    background-color: #525454;
    border-radius: 5px;
   }
nav ul li a {
	color:white;
	text-decoration: none;
}   

#intro {
	margin-top:6%;
	margin-left:10%;
	font-size:26px;
}
#middleContainer {
    background-image: url("../images/back.jpg");
    background-size: 100%;
    height: 600px;
}
#search {
    margin: 20px;
    margin-right: 10%;
    min-height: 10%;
    width: 25%;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    background: trasparent;
    text-align:center;
}
#search h2 {
    text-align: center;
    margin-top: 5px;
    font-family: "Times New Roman";
}
#searchresult {
    background: trasparent;
    margin: 20px;
    min-height: 10%;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    width:70%;
    text-align:center;
}

#searchresult table,
#searchresult th {
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; 
    border-radius:3px;
}

#searchresult td {
  cell-spacing:30px;
  padding:4px;
}
#searchresult table tr:nth-child(even) {
  color:#171B19;
}
#searchresult table tr:nth-child(even) {
  color:black;
}
#searchresult table {
  -webkit-border-radius:10px;
}



#login {
    background: trasparent;
    margin: 20px;
    margin-right: 10%;
    min-height: 10%;
    width: 25%;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
}
#create {
   background: trasparent;
    margin: 20px;
    margin-right: 10%;
    width: 30%;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
}
#update {
    background: trasparent;
    margin: 20px;
    margin-right: 10%;
    width: 30%;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
}
#detail {
    background: trasparent;
    margin: 20px;
    margin-right: 10%;
    width: 30%;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
}


#detail div {
    height: 98%;
    width: 48%;
    min-height: 200px;
    float: left;
}

.firsttd {
    font-weight: bold;
    font-family: "Courier New";
    font-size:17px;
}
footer {
    background-color: #36424a;
    height: 60px;
    color: white;
    text-align: center;
    width:100%;
}
 select
 {
    background:transparent;
    border:1px solid black;
    width: 70%;
    height:25px;
    border-radius: 10px;
    padding-left:10px;
    font-size:19px;
   
 }
 input {
    background:transparent;
    border:1px solid black;
    width: 100%;
    height:25px;
    border-radius: 10px;
    padding-left:10px;
    font-size:19px;
  }
  
  #search button, #login button{
   margin-left:30%;
  }
  button
  {
    width:40%;
    height:26px;
    margin-top:10px;
    border:1px solid black;
    border-radius: 10px;
    color:black;
    background:transparent;
    font-weight:bold;
  }
#create option {
    width: 98%;
}
footer p {
    padding-top: 0px;
}
.upper {
	background-color:#95A1A6;
    width: 90%;
    margin: 0 auto;
    border: 2px solid #91999C;
    max-width: 1200px;
    min-width: 700px;
}
#links { 
	float:left;
	width:auto% !important
}
#marq{
	
	float:left; 
	width :55%;
}
