body
{
	text-align:center;
}

body form table{
	border-collapse: separate;
    border-spacing: 10px;
	border:2px solid black;
	margin-top:30px;
	background-color:#F7F7F3;
	padding:25px;
}

div{
	margin-left:35%;
	position:absolute;
}

div form button{
	margin-left:50px;
	padding-top:10px;
	margin-top:30px;
}

#newtable{
	margin-top:90px;	
	background-color:#F7F7F3;
	padding:10px;
	border-collapse:collapse;
}