body {
	margin: 0px;
	background: url('http://fullhdwp.com/images/wallpapers/golf-widescreen-hybrid-vehicle-volkswagen-hd-wallpaper.jpg') no-repeat center fixed;
	background-size:cover;
	font-family: "comic sans ms";
}

header {
	position: fixed;
	height: 70px;
	width: 100%;
	color: white;
	font-size: 20px;

}
header .brand {
	position: absolute;
	margin-top:10px;
	margin-left:5%;
	font-size: 30px;
} 
header a {
	text-decoration:none;
	color: #ffffff;
}
header a[href="#"],[href="./index.html"] {
	color: white;	
	text-decoration: none;
	border-radius: 5px;
	border:2px white solid;
	padding: 5px;
	float: right;
	margin-right:3%;
	margin-top: 10px;
}

header a[href="#"]:hover  {
	box-shadow: 0px 0px 10px white;
	background: white;
	color: #000000;
	border-color: #000000;
}
.background {
	background-color: rgba(100,100,100,0.2);
	top: 70px;
	width: 100%;
	height: 728px;
	position: absolute;
	
}
.loginBackground, .signupBackground{
	position: absolute;
	visibility: hidden;
	color: #ffffff;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	
	
}
article {
	position:absolute;
	width: 100%;
	margin-top: 70px;
	background-color: rgba(255,255,255,0.15);
	height:800px;
	color: white;
	text-align: center;
}
article .articleMain {
	position: absolute;
	top: 40px;
	left: 35%;
	text-align: center;
	font-size: 50px;
}

article .articleContent {
	left: 25%;
	top: 40%;
	position: absolute;
	font-size: 25px;
}

article a {
	position: absolute;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-radius: 5px;
	border: 2px #ffffff solid;
	padding: 10px;
	left: 45%;
	top: 200px;
}
.searchForm {
	margin-top:10px;
	margin-left: 20%;
	float: left;
	width: 60%;
}

.searchForm:hover {
	border-radius: 5px;
	box-shadow: 0px 0px 10px;
}
.dataTable {
	margin-top: 30px;
	margin-left: 15%;
	background-color: #000000;
	padding-right: 35px;
	padding-bottom: 20px;
	visibility: hidden;
}
.dataTable tr td input{
	width: 100px;
}
#form {
	position: absolute;
	font-size: 15px;
	padding: 10px;
	border: 2px #ffffff solid;
	border-radius: 5px;
	top: 250px;
	left: 35%;
}
.signupBackground #form {
	top: 150px;
transition: opacity 5s;
}
#form input {
	height: 30px;
	border-radius : 2px;
	border: 1px #ffffff solid;
	margin: 10px;
	text-align: center;
}
#form input[type="submit"], input[type="button"] {
	width: 170px;
}

form input[placeholder="Enter Model Name"] {
	width: 96%;
	height: 40px;
	border-radius: 5px 0px 0px 5px;
	text-align: center;
	font-size: 20px;
	border: 1px #ffffff solid;
}

form input[type="image"] {
	position: absolute;
	width: 36px;
	padding:5px;
	height: 34px;
	border-left: 1px black;
	border-radius: 0px 5px 5px 0px;
	background-color: #ffffff;
}
.createVehicle {
	color: white;
	visibility: hidden;
}

.createVehicle #form{
	position: absolute;
	top: 10px;
	width: 25%;
	padding-left: 40px;
}
.createVehicle #form input[type="submit"], input[type="reset"] {
	width: 90%;
}

/* footer design */
footer {
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	width: 100%;
	color: #ffffff;
	text-align: center;
	bottom: 0px;
	left: 0px;
}
	

footer a {
	color: grey;
	text-decoration: none;
}
