@font-face {
	font-family: heading-font;
	src: url(C:/Users/.hp/workspace/Seedster/WebContent/fonts/Tr2n.ttf);
}

.head {
	background-color: #333333;
	height: 20%;
	opacity: 0.9;
	width: 100%;
	position: absolute;
}

#logo {
	margin: 10px;
	float: left;
}

#websitename {
	margin-top: 40px;
	color: #FFFFFF;
	font-family: 'heading-font';
}

img {
	width: 130px;
	height: 100px;
}

h1 {
	left: 20%;
	float: left;
}

#container {
	display: flex;
	min-height: 100%;
	/*width:900px;*/
}

input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

#menu_button {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 1;
	display: block;
	font-size: 3em;
	color: #000000;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transform: translate3d(0, 0, 0);
	transition: transform .4s;
}
#toggle:checked ~ label {
	transform: translate3d(-250px, 0, 0) rotate(90deg);
}

#toggle:checked ~ .slide-menu {
	transform: translate3d(0, 0, 0);
}

#toggle:checked ~ .slide-menu .menu li {
	width: 100%;
}

.slide-menu {
	transform: translate3d(250px, 0, 0);
	position: fixed;
	width: 250px;
	background: #4f6b81;
	color: #ddd;
	right: 0px;
	height: 100%;
	transition: all .4s;
}

.slide-menu h1 {
	margin: 10px;
	text-shadow: 1px 1px 1px #000;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1.1em;
	padding: 15px;
	background: linear-gradient(#628297, #4f6b81);
	border-bottom: 1px solid #1e222b;
	box-shadow: inset 0px 1px 1px #8b9db3;
}

.menu a:hover {
	background: linear-gradient(#3b3f48, #3c434d);
	box-shadow: inset 0px 1px 1px #475059;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #2E3740;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #435160;
  text-decoration: none;
}

.search {
  width: 350px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -175px;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}
input[type=checkbox] {
  display: none;
}
#bybudget {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}

#budget:checked ~ label[for=budget] {
  background: #435160;
}

#budget1:checked ~ label[for=budget1] {
  background: #435160;
}
#bybrand {
  position: absolute;
  margin-right: 10px;
  margin-left: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}
input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #16aa56;
  animation-name: shake;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

.agree {
  padding: 30px 0px;
  font-size: 12px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
select{
	width:350px;
	paddinf:20px 0px;
	background:transparent;
	color: #6D7781;
    font-size: 16px;
}
.searchOptions{
  padding: 10px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}