*{
	margin:0px;
	padding:0px;
}
body{
	width: 90%;
	max-width: 50em;
	margin: 0 auto;
}

.form {
	padding:20px;
	border:1px solid black;
	margin:20px;
	width:500px;
	border-radius:10px;
	background-color:#CFFFFF;
}
