@CHARSET "ISO-8859-1";
/*set attributes of div*/
.div {
	float: left;
	width: 8%;
	height: 100px;
	margin: 20px;
	padding: 10px;
	text-align: center;
	border: 1px solid #aaaaaa;
}

/*set attributes of image which is draggable*/
#dragOnce {
	margin-top: 10px;
	width: 50%;
	height: 70%;
}