@CHARSET "ISO-8859-1";

body {
	background: white;
}

#wrapper {
	background: #CCCCFF;
	margin: 0 auto;
	width: 45%;
	height: 500px;
}

header {
	margin: 0px auto;
	width: 98%;
	padding: 2px;
	text-align: center; font-size : 30px;
	font-weight: bold;
	font-size: 30px;
}

table {
	margin: 0% auto;
	border: 8px solid #f0ffff;
	border-radius: 6px;
	width: 60%;
	background: #f0ffff;
}

.inputTextBox {
	width: 100%;
	border: 1px solid gray;
	border-radius: 6px;
}

tr.spaceUnder>td {
	padding-bottom: 1em;
}

.accountButton {
	border: 1px solid gray;
	border-radius: 6px;
	text-align: center;
	margin: 5% auto;
}

#container {
	margin: 5% auto;
	width: 60%;
	background: #f0ffff;
}

footer {
	text-align: center;
	background: #FAF0E6;
	margin-top: 80px;
	width: 100%;
}