* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: heading-font;
	src: url(../fonts/Tr2n.ttf);
}

@font-face {
	font-family: Details-font;
	src:url(../fonts/Yellowtail-Regular.ttf);
}

.head {
	background-color: #333333;
	height: 20%;
	opacity: 0.9;
	width: 100%;
	position: absolute;
}

#logo {
	margin: 10px;
	float: left;
}

#websitename {
	margin-top: 40px;
	color: #FFFFFF;
	font-family: 'heading-font';
}

img {
	width: 130px;
	height: 100px;
}

h1 {
	left: 20%;
	float: left;
}

.wrapper {
	margin-top: 50px;
	width: 100%;
	height: 100%;
	width: 100%;
}

#container {
	display: flex;
	min-height: 100%;
	/*width:900px;*/
}

input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

label {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 1;
	display: block;
	font-size: 3em;
	color: #000000;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transform: translate3d(0, 0, 0);
	transition: transform .4s;
}

input[type=checkbox]:checked ~ label {
	transform: translate3d(-250px, 0, 0) rotate(90deg);
}

input[type=checkbox]:checked ~ .slide-menu {
	transform: translate3d(0, 0, 0);
}

input[type=checkbox]:checked ~ .slide-menu .menu li {
	width: 100%;
}

.slide-menu {
	transform: translate3d(250px, 0, 0);
	position: fixed;
	width: 250px;
	background: #4f6b81;
	color: #ddd;
	right: 0px;
	height: 100%;
	transition: all .4s;
}

.slide-menu h1 {
	margin: 10px;
	text-shadow: 1px 1px 1px #000;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1.1em;
	padding: 15px;
	background: linear-gradient(#628297, #4f6b81);
	border-bottom: 1px solid #1e222b;
	box-shadow: inset 0px 1px 1px #8b9db3;
}

.menu a:hover {
	background: linear-gradient(#3b3f48, #3c434d);
	box-shadow: inset 0px 1px 1px #475059;
}

.sectionstyle {
	width: 100%;
	height: 80%;
	padding-top: 132px;
}

#outer {
	width: 100%;
	height: 80%;
	position: absolute;
	overflow:auto;
	margin-top:-13px;
}

.slideshow {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: -100;
}

.photo {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: slideshow_animation 13s infinite;
	opacity: 0;
}

@keyframes slideshow_animation   {
	20% {opacity:1;}
	30% {opacity:0;}
}
img:nth-child(3) {
	animation-delay: 0s;
}

img:nth-child(2) {
	animation-delay: 6s;
}

img:nth-child(1) {
	animation-delay: 12s;
}

.inner {
	padding-top: 500px;
	margin-top:-30.5px;
	width:100%;
}

.major {
	width: 100%;
	height: 30%;
	margin: 0 0 3.5em 0;
	text-align: center;
	background-color: #333333;
	opacity: 0.9;
}

h2 {
	padding-top: 20px;
	color:#fff;
}

body {
	background: #FFFFFF;
}

#sectionheading {
	font-family: 'Details-font';
}
p{
	font-family:'Details-font';
	color:#fff;
}
footer{
	
	background-color:#c9c1c1;
	padding : 20px 0px 20px 0px;
	text-align : center;
	font-size : 20px; 
	font-weight : bold;

}