@CHARSET "ISO-8859-1";
body{
	background-color:  #f3fafa;
}
form{
	width:600px;
	height: 600px;
	margin:0px auto;
	background-color: #f2f2ff;
	border:2px solid black;
}
h2{
	text-align: center;
}
table{
	width:550px;
	height: 500px;
	margin-left: 80px;
}
button {
	width:80px;
	height:30px;
}
#check{
	width: 50px;
}
