@CHARSET "ISO-8859-1";
body {
	width: 100%;
	height: 100%;
}
table,tr,td{
	border: 1px solid black;
}
table {
	width: 100%;
}
td {
	height:30px;
	text-align: center;
}
.heading {
	background-color: blue;
	width: 100%;
}
.heading h1 {
	font-style:italic;
	font-size: 40px;
	text-align: center;
}

.searchBox {
	position:relative;
	float:left;
	border:2px solid #000000;
	margin-left: 35%;
	width: 20%;
	height: 400px;
	margin-top: 10%;

}
header {
	
	margin-top:-7%;
	width: 100%;
	height: 12%;
}
h2{
	margin-left:2%;
	font-size: 40px;
	font-style: italic;
	font-weight: normal;
}
p {
	margin-top:-8%;
	margin-left:2%;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
}
.image {
	border:2px solid black;
	margin-left: 4%;
	position:relative;
	float:left;
	width: 30%;
	height: 400px;
	margin-top: 10%;
}
.text {
	text-align: center;
	font-style: italic;
}
.leftSpace {
	margin-left: 9%; 
	width: 250px; 
	height: 40px;
}
.margin {
	width: 100px;
	margin-top: 8%;
}