div{
margin-top:250px;
margin-left:100px;
width:200px;
height:200px;
background-color: DarkGray ;
border:2px solid red;
float:left;
}

header{
	text-align:center;
}

#mybox1{
transform:rotate(20deg);
}
#mybox2{
transform: scale(1,1.5);
}
#mybox3{
transform: skewX(20deg);
}
#mybox4{
	transform: skewY(20deg);
}