
header{
	text-align:center;
}

header nav ul li{
	display:inline;
}

header nav ul li a{
	text-decoration:underline;
	font-size:20px;
	padding:20px;
}

article{
	background-color:Gainsboro  ; 
}

aside  figure img {
	width:105%;
	height:400px;
}

section{
	background-color:Gainsboro ;
	height:280px;
	padding-right:10px;
}
section a {
	height:140px;
	width:150px;
}

section a  figure{
	float:left;
	padding-right:0px;
}