
body {
	background: #e9e8d1;
}

.wrapper {
	width: 1000px;
	height: 1000px;
	background-color: #AED1ED;
	margin: 0px auto;
	border: 1px solid black;
}

#header {
	background: #AED1ED;
	height: 100px;
	text-align: center;
	padding-top: 30px;
	font-size: 40px;
	font-weight: bold;
	font-style: oblique;
	border: thin solid black;
}

#header1 {
	background: #c0bcb1;
	padding: 3px;
	text-align: left;
	border: thin solid black;
}

#header1 ul {
	margin: 0px;
	list-style: none;
}

#header1 ul li {
	display: inline;
	border: 0px solid #f00;
	margin: 0 10px;
}

#header1 ul li a {
	color: #FFF;
	text-decoration: none;
}

#header1 ul li a:hover {
	background-color: #7ba0df;
	color: #FFF;
	text-decoration: none;
}

#footer {
	clear: both;
	background: #c0bcb1;
	height: 140px;
	width:1000px;
	margin-top:0px;
	border: thin solid black;
}

#footer p {
	position: relative;
	text-align: center;
	margin-top: 30px;
}

form {
	margin: 0px auto;
	width: 700px;
	height: 555px;
	background-color: #AED1ED;
}

#heading {
	margin-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.left {
	position: absolute;
	width: 300px;
	margin-left: 80px;
}

.input {
	position: absolute;
	width: 200px;
	margin-left: 350px;
}

.right {
	position: absolute;
}

#span {
	color: red;
}

.button {
	height: 40px;
	width: 150px;
	margin-top: 50px;
	margin-left: 250px;
	font-weight: bold;
	font-size: 20px;
}

.button:HOVER {
	background-color: orange;
}

ul {
	padding: 5px;
	display: inline;
}

li {
	padding: 15px;
	list-style-type: none;
	padding-left:10px; 
	display: inline;
}

a {
	text-decoration: none;
	color:#6B6767;
}

a:hover {
	
	color:orange;
}		