
#contents #searchResult{
	height:50%;
}

#searchResult ul{
	list-style:none;
}
#searchResult img{
	width:80%
}

#searchResult li{
	display:inline-block;
	width:20%;
	margin-right:10%;
	margin-top:10%;
}

#login{
	margin-top:-6%;
    position: relative;
    top: 20%;
	
}
# abc img{
	width:100%;
	height:100%;
}
#abc{
	background: url(../images/newtrans.png) no-repeat center top;
	height:150px;
	width:100%;
	
}

#adbox #contactdetail{
    margin: 0 auto;
    position: relative;
    top: 20%;
}

#adbox #contactdetail form{
	float:left;
	margin-top:2%;
	margin-left:5%;
}

#adbox #contactdetail img{
	height:40%;
	width:20%;
	float:left;
	margin-left:-5%;
	margin-top:2%;
}

#contents #searchDetails {
	text-align:center;
}

#contents #searchDetails h1 {
	font-family:'HandveticaNeueRegularTrial';
}

#car1 form img{
	border:7px double lightgrey;
	border-radius:15px;
	width:25%;
	height:15%;
}

#contents1 #para{
	width:50%;
	height:50%;
}

#contents h1,h3{
	font-family:HandveticaNeueRegularTrial;
}

select{
	width:10%;
}

#search{
	margin-top:100px;
}