@CHARSET "ISO-8859-1";
body {
   	margin-top : 0px;
	background-color: #CBD7FF;
	padding : 0px;
	position: relative;
}
body {
   	margin-top : 0px;
	background-color: #CBD7FF;
	padding : 0px;
	position: relative;
}

#wrapper { 
	margin: 0px auto;
	background-color : #fff;
	position :relative;
	width : 65%;
}

#wrapper a {
	color: black;
}

#header {
    top : 0;
	font-weight:bold;
	color :#009ed8;
	border-radius : 10px 10px 0px 0px;
	height : 75px;
	position :relative;
	overflow : hidden;
	width: 100%;
}

#header img{
	position : absolute;
	top : 10px;
	left : 10px;
}

#header h1 {
	position: relative;
	margin : 0px;
	margin-left : 40%;
}
#header h3 {
	position: relative;
	margin : 0px;
	margin-left : 43%;
	
}
#navigation {
	clear : both;
	height : 30px ;
	background:#9BB2B8;
	padding-top: 10px;
}
#navigation ul {
	margin:0px;
	padding-left: 5px;

}
a {
	text-decoration : none;
	color : white;
	font-weight : strong;
}
#navigation ul li {
	display:inline;
	padding :10px;
	border-radius : 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	 
}
#navigation ul li:hover {
	box-shadow : 0px 0px 10px;	
}

#container {
	background:white;
	padding :5px ;
	overflow: auto;
	padding-left: 0px;
	padding-right: 0px;
	width : 100%;
	margin-bottom: 10px;
	
}

#left-pane {
	margin-top : 10px;
	margin-left: 10px;
	width : 15% ;
	float:left;
	overflow : hidden;
	
}

#left-pane1 {
	background-color : #4FA2D2;
	border-radius : 10px;
	Padding-top : 1px;
	padding-bottom : 1px;
		

}
#left-pane1 ul {
	
	padding :0px;
	margin: 10px;
	border-radius : 10px;
}
#left-pane1 ul li 
{
	margin : 5px 0px 5px;
	list-style : none;
} 

#left-pane1 a {
	color: #fff;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif
}


#middle-pane {
	padding : 0px;
	width : 80%;
	float : left ;
	margin: 0px;
	background-color : white;
}


#middle-pane img {
	padding : 5px;
	overflow : hidden;
	width: 100%;
	
}



#footer {
	padding :5px;
	padding-right:0px;
	position : relative;
	background:#c0bcb1;
	width: 100%;
	height: 50px;
	text-align : center;
	bottom: 0px;
	
	
}
#footer a {
	margin : 5px;
	text-decoration : none;
}
/* footer design */
footer {
	position: fixed;
	background-color : #2E2E2E;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	width: 100%;
	color: #ffffff;
	text-align: center;
	bottom: 0px;
	left: 0px;
}
	

footer a {
	color: grey;
	text-decoration: none;
}
