<!DOCTYPE html>
<html>
<head>
<link rel="styleSheet" href="/CaseStudy4/css files/style1.css">
<title>Car Dekho Home Page</title>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			Car Dekho
		</div>
		<div id="header1">
		</div>
		<div id="mid">
			<div id="nav1">
				<ul>
					<li><a href="/CaseStudy4/UserSearchController">User</a></li>
				</ul>
			</div>
			<div id="nav2">
				<ul>
					<li><a href="/CaseStudy4/LoginController">Admin</a></li>
				</ul>
			</div>
			<div id="image">
				<img src="/CaseStudy4/images/vernaCar.jpg" style="height: 239px; width: 524px">
			</div>
		</div>
		<div id="footer">
			<p>Posted by: Hege Refsnes</p>
			<p>
				Contact information: <a href="mailto:someone@example.com">
					Someone@CarDekho.com</a>.
			</p>
		</div>
	</div>
</body>
</html>
