@CHARSET "ISO-8859-1";

body {
	background-color: #8dc2fe;
}

#wrapper {
	margin: 0 auto;
	margin-top: 70px;
	border: 1px solid BLACK;
	width: 30%;
	padding: 5%;
	border-radius: 10px;
	background-color: #8dc2fe;
}

.error {
	color: red;
}

section {
	margin: 0 auto;
	width: 1200px;
	height: 50px;
	background-color: #747474;
	font-size: 40px;
	font-family: fantasy;
	text-align: center;
	color: white;
}