body{
	width:100%;
	
	background-image: url("images/back1.jpg");
	background-repeat: no-repeat;
	
}
#header{
	width:100%;
	height:108px;
	left:0px;
	font-size:85px;
	letter-spacing:15px;
	
}

hr{
	margin:0px;
	margin-bottom:0px;
}
  
nav{
	width:100%;
	margin:0px;
	text-align:center;
	font-size:40px;
	color:white;
}

nav ul  li{

	display:block;
	color:white;
	margin:0px 25px;
	padding:1%;
	text-align:center;
	float:left
}

nav ul li a{
	color:white;
	text-decoration:none;
}
nav ul li a:HOVER {
	border-radius: 5px;
	box-shadow: 0 0 10px WHITE;
	background-color: rgba(79, 79, 79, 0.5);
}

nav ul ul {
	margin: 0;
	padding: 5px;
	position: absolute;
	visibility: hidden;
}

nav ul li:HOVER ul {
	visibility: visible;
}
.search{
	width:800px;
	height:50px;
	margin-left:400px;
	float:left;
	padding:20px;
	border-bottom:2px solid white;
	
	color: white;
	font-size:60px;
	text-align:center;

}
#login_button {
	margin: 0;
	padding: 15px 0 5px 0;
	text-decoration: none;
	display: block;
	width: 6%;
	position: absolute;
	top: 0;
	right: 10%;
	background-color: #fb301a;
	text-align: center;
	color: WHITE;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 5px 10px BLACK;
	transition: box-shadow 50ms ease-in;
}

#login_button:HOVER {
	background-color: #768892;
	box-shadow: 0 0 5px BLACK;
}

.popup_box {
	position: fixed;
	font-family: CENTURY;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	color: white;
	opacity:0;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}

.popup_box:TARGET {
	opacity:1;
	pointer-events: auto;
}

.popup_box div {
	width: 30%;
	position: relative;
	margin: 5% auto;
	padding: 10px;
	border-radius: 10px;
	background-color: #4f4f4f;
}

.close {
	background: #09bbe9;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:HOVER {
	background: red;
}

#login_table {
	margin: 0 auto;
}

.text_field {
	margin: 5px 0 5px 0;
	padding: 2px;
	border-radius: 5px;
	font-family: CENTURY;
	font-size: 16px;
	font-weight: bold;
}

.submit_button {
	margin: 10px 0 10px 0;
	padding: 5px;
	border-radius: 10px;
	background-color: #768892;
	font-size: 18px;
	color: white;
}

.submit_button:HOVER {
	background-color: #fb301a;
}
#content_wrapper {
	margin: 5% 0 0 0;
	padding: 0 5% 0 5%;
	width: 90%;
	float: left;
	
}

.page_header {
	margin: 0;
	padding: 0;
	font-size: 180%;
	font-weight: bold;
	float: left;
	width: auto;
	color:rgb(57, 178, 251);
}

.details_box {
	margin: 10px;
	padding: 5px;
	width: 100%;
	float: left;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 10px;
}

.details_table {
	margin: 0 0 0 5%;
	padding: 0;
	float: left;
	
}

.details_table td {
	padding: 10px 0 10px 0;
}

.car_image {
	margin: 0 5% 0 5%;
	padding: 0;
	width: 30%;
	float: left;
	overflow: hidden;
}

.car_image img {
	overflow: hidden;
	max-width: 100%;
}

.see_specs {
	margin: 5% 0 0 0;
	padding: 0;
	float: left;
}

.see_specs a {
	margin: 0;
	padding: 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: WHITE;
	background-color: #768892;
	border-radius: 15px;
}

.see_specs a:HOVER {
	background-color: #fb301a;
	box-shadow: 0 0 15px GRAY;
}

.spec{
	color:rgb(57, 178, 251);
}

.spec_detail{
	color:white;
}
footer {
	margin: 2% 0 0 0;
	padding: 2% 3% 2% 7%;
	width: 90%;
	float: left;
	color:rgb(57, 178, 251);
	line-height: 150%;
	font-weight: bold;
	background-color: rgba(79, 79, 79, 0.5);
	
	bottom:0%;
}

footer a {
	text-decoration: none;
	color: BLACK;
}

.footer_part {
	margin: 0;
	padding: 0;
	width: 30%;
	float: left;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	margin: 0 0 0 10%;
	padding: 0;
	list-style: none;
	position: relative;
}

