body{
	width:100%;
	
	background-image: url("images/back1.jpg");
	background-repeat: no-repeat;
	
}
#header{
	width:100%;
	height:108px;
	left:0px;
	font-size:85px;
	letter-spacing:15px;
	
}

hr{
	margin:0px;
	margin-bottom:0px;
}
  
nav{
	width:100%;
	height:60px;
	margin:0px;
	text-align:center;
	font-size:40px;
	color:white;
}

nav ul  li{
	height:20px;
	display:inline;
	color:white;
	margin:0px 25px;
	padding:1%;
	text-align:center;
	border: 2px solid white;
	border-radius:10px;
}

nav ul li a{
	color:white;
	text-decoration:none;
}
.search{
	width:800px;
	height:50px;
	margin:25px;
	float:left;
	padding:20px;
	border:2px solid #86869E;
	border-radius:50px 50px 50px 50px;
	color: white;
	font-size:60px;
	text-align:center;

}
#login_button {
	margin: 0;
	padding: 15px 0 5px 0;
	text-decoration: none;
	display: block;
	width: 6%;
	position: absolute;
	top: 0;
	right: 10%;
	background-color: #fb301a;
	text-align: center;
	color: WHITE;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 5px 10px BLACK;
	transition: box-shadow 50ms ease-in;
}

#login_button:HOVER {
	background-color: #768892;
	box-shadow: 0 0 5px BLACK;
}

.popup_box {
	position: fixed;
	font-family: CENTURY;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	color: white;
	opacity:0;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}

.popup_box:TARGET {
	opacity:1;
	pointer-events: auto;
}

.popup_box div {
	width: 30%;
	position: relative;
	margin: 5% auto;
	padding: 10px;
	border-radius: 10px;
	background-color: #4f4f4f;
}

.close {
	background: #09bbe9;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:HOVER {
	background: red;
}

#login_table {
	margin: 0 auto;
}

.text_field {
	margin: 5px 0 5px 0;
	padding: 2px;
	border-radius: 5px;
	font-family: CENTURY;
	font-size: 16px;
	font-weight: bold;
}

.submit_button {
	margin: 10px 0 10px 0;
	padding: 5px;
	border-radius: 10px;
	background-color: #768892;
	font-size: 18px;
	color: white;
}

.submit_button:HOVER {
	background-color: #fb301a;
}

p{
	margin:10px 100px 10px 100px;
	color: rgb(225, 240, 249);
    font-size: x-large;
}

h2{
	font-size: xx-large;
    color: rgb(57, 178, 251);
}



.titleborder{
	width:50%;
	float:left;
}

#aboutus{
	margin:20px;
	padding:10px;
	font-size:large;
	color:white;
}
footer {
	margin: 2% 0 0 0;
	padding: 2% 3% 2% 7%;
	width: 90%;
	float: left;
	position:absolute;
	bottom:0%;
	color: rgb(57, 178, 251);
	line-height: 150%;
	font-weight: bold;
	background-color: rgba(79, 79, 79, 0.5);
}

footer a {
	text-decoration: none;
	color: white;
}

.footer_part {
	margin: 0;
	padding: 0;
	width: 30%;
	float: left;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	margin: 0 0 0 10%;
	padding: 0;
	list-style: none;
	position: relative;
}