body{
	background-image: url("back.jpg");
}
header{
	color: deepskyblue;
	font-size:30px;
	font-style:italic;
}
 #nav{
	 text-align:center;
 }
#nav ul li{
	display:inline;
	border:0px solid red;
	margin:0 10px;
	padding:1%;
	text-align:center;
	color:white;
}

 #nav ul li a {
	 color:CORNFLOWERBLUE;
	 text-decoration:none;
 }

#nav ul li a:HOVER {
	 color:deepskyblue;
	 text-decoration:underline;
	
 }

article{
	border:3px outset deepskyblue;
	margin-top:3%;
	margin-bottom:0%;
	margin-left:2%;
	margin-right:2%;
	color:black;
	border-radius:10px;
	padding:3%;
	font-style:italic;
	font-size:25px;
}

figcaption{
	font-size:20px;
	font-style:italic;
}
aside{
	border:3px double deepskyblue;
	background-image:url"back.jpg";
	margin-top:1%;
	margin-bottom:1%;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
	border-radius:10px;
}
section{
	border:3px inset deepskyblue;
	padding:3%;
	margin-top:0%;
	margin-left:2%;
	margin-right:2%;
	border-radius:10px;
	font-style:italic;
	font-size:25px;
}
#img{
	width:60%;
	
}

footer{
	 margin:5px;
	 text-align: center;
   	 padding-top:25px;
	 border-radius:10px;

}