@CHARSET "ISO-8859-1";
body{
	background-image:url("images.jpg");
}
section
{
	width:40%;
	margin-left: 25%;
}
table 
{
    border-collapse: separate;
    border-spacing: 0 1em;
	font-size: 30px;
}
section h2
{
	margin-left: 30%;
}

#submitbutton{
	width: 140px;
	height: 50px;
	font-size: 30px;
}

#acceptCondition{
	width: 20px;
	height: 20px;
}